$white: #fff;
$transperant_gray: rgba(0, 0, 0, 0.1);

$light_shadow: rgba(0, 0, 0, 0.1);
$regular_shadow: rgba(0, 0, 0, 0.3);
$blue_shadow: rgba(16, 49, 182, 0.3);
$darker_shadow: #000000b3;

$soft_red: hsl(14, 88%, 65%);
$very_dark_desaturated_blue: hsl(238, 29%, 16%);
$soft_violet: hsl(273, 75%, 66%);
$soft_blue: hsl(240, 73%, 65%);
$very_dark_grayish_blue: hsl(237, 12%, 33%);
$dark_grayish_blue: hsl(240, 6%, 50%);
$light_grayish_blue: hsl(240, 5%, 91%);
